
<div class="header">
  <h1><center>Tic-Tac-Toe</center></h1>
</div>

<div class="container">
  <div class="box boxcorner" id="0">
    <span class="hidden letter blue" id="0X">X</span>
    <span class="hidden letter red" id="0O">O</span>
  </div>
  <div class="box boxtop" id="1">
    <span class="hidden letter blue" id="1X">X</span>
    <span class="hidden letter red" id="1O">O</span>
  </div>
  <div class="box boxtop" id="2">
    <span class="hidden letter blue" id="2X">X</span>
    <span class="hidden letter red" id="2O">O</span>
  </div>
  <div class="box boxside" id="3">
    <span class="hidden letter blue" id="3X">X</span>
    <span class="hidden letter red" id="3O">O</span>
  </div>
  <div class="box" id="4">
    <span class="hidden letter blue" id="4X">X</span>
    <span class="hidden letter red" id="4O">O</span>
  </div>
  <div class="box" id="5">
    <span class="hidden letter blue" id="5X">X</span>
    <span class="hidden letter red" id="5O">O</span>
  </div>
  <div class="box boxside" id="6">
    <span class="hidden letter blue" id="6X">X</span>
    <span class="hidden letter red" id="6O">O</span>
  </div>
  <div class="box" id="7">
    <span class="hidden letter blue" id="7X">X</span>
    <span class="hidden letter red" id="7O">O</span>
  </div>
  <div class="box" id="8">
    <span class="hidden letter blue" id="8X">X</span>
    <span class="hidden letter red" id="8O">O</span>
  </div>
  <%= image_tag "tie.png", height: "300", class: "end-img" %>
</div>

<div class="footer">
    <center class="message">
      <%= link_to 'Computer first', new_game_path, :class => "button start" %>
      <%= link_to 'Ok', root_path, :class => "button new-game" %>
      <div class="hidden" id="computer-win">Computer Wins!</div>
      <div class="hidden" id="player-win">Player Wins!</div>
      <div class="hidden" id="tie-game">Cat's tie!</div>
    </center>
    <span><a href="https://github.com/Carpk/tic-tac-toe#tic-tac-toe" class="code-link">github</a></span>
</div>

