
<div class="header">
  <h1><center>Tic-Tac-Toe</center></h1>
</div>

<div class="container">
  <div class="box boxcorner" id="1"></div>
  <div class="box boxtop"    id="2"></div>
  <div class="box boxtop"    id="3"></div>
  <div class="box boxside"   id="4"></div>
  <div class="box"           id="5"></div>
  <div class="box"           id="6"></div>
  <div class="box boxside"   id="7"></div>
  <div class="box"           id="8"></div>
  <div class="box"           id="9"></div>
  <%= image_tag "tie.png", height: "300", class: "end-img" %>
</div>

<div class="footer">
    <center class="message">
      <%= link_to 'Computer first', new_game_path, :class => "button start" %>
      <%= link_to 'Ok', root_path, :class => "button gameover" %>
    </center>
    <span><a href="https://github.com/Carpk/tic-tac-toe" class="code-link">github</a></span>
</div>