/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 body {
  /*background: #7f00ff;*/
  /*background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #000000),
    color-stop(0.44, #D9D9D9)
  );
  background-image: -o-linear-gradient(bottom, #000000 0%, #D9D9D9 44%);
  background-image: -moz-linear-gradient(bottom, #000000 0%, #D9D9D9 44%);
  background-image: -webkit-linear-gradient(bottom, #000000 0%, #D9D9D9 44%);
  background-image: -ms-linear-gradient(bottom, #000000 0%, #D9D9D9 44%);
  background-image: linear-gradient(to bottom, #000000 0%, #D9D9D9 44%);
  background-repeat:no-repeat;*/
 }

.box {
  float:left;
  border-top: solid;
  border-left: solid;
  width: 114px;
  height: 114px;
  /*background: pink;*/
}

.container {
  width: 350px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.container div:hover {
  background: #ff429a;
  border-radius: 3px;
}

.container div:first-child {
  border-top: none;
  border-left: none;
}

.container div:nth-child(2) {
  border-top: none;
}

.container div:nth-child(3) {
  border-top: none;
}

.container div:nth-child(4) {
  border-left: none;
}

.container div:nth-child(7) {
  border-left: none;
}

.header {
  border-radius: 30px;
  background: #00cc00;
  color: white;
  height: 100px;
}

.header h1 {
  margin-top: 0;
  padding-top: 10px;
}

.letter-o {
  color: #cc0000;
  font-size: 8em;
}

.letter-x {
  color: #0000cc;
  font-size: 8em;
}

.message {
  height: 4em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.selected {
  width: 110px;
  height: 110px;
  background: blue;
}